/JavaProject/SOFT252/nbproject/private/
/JavaProject/SOFT252/build/
/JavaProject/Libraries/FileManager/nbproject/private/
/JavaProject/Soft252AMartin/nbproject/private/
/JavaProject/Soft252AMartin/dist/
/JavaProject/Soft252AMartin/build/